body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    background-color: greenyellow;
    padding: 20px 10px;
    font-size: 20px;
}

img {
    height: 200px;
}

nav{
    padding: 16px;
    background-color: orangered;
    border-bottom: 1px solid green;
    color: white;
}

#grid-like {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}

a:link {
    text-decoration: none;
}

nav a{
    color: white;
}

h3 a{
    color: green;
}

.title_taco {
    color: green;
}

.shady-boy tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
}
